.alert {
            background: lightgrey;
            padding: 10px;
}

.alert_info {
            background: lightblue;
            color:white;
            padding: 10px;
}

.alert_success {
            background: green;
            color:white;
            padding: 10px;
}

.alert_error {
            background: red;
            padding: 10px;
}